# This is a sample .env file for use in local development
# Duplicate this file as .env in the api sub-directory and update the environment variables to match your desired config

DB_NAME=
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
SECRET_KEY=

# Don't change the default variable / value if you don't know what you are doing
